* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
}


.menu {
  height: 20px;
  max-width: 100vw;
  padding: 10px;
  margin: 0;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
}

#itens {
  display: none;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: #444;
  transition: all 0.3s ease;
}

#itens.active {
  display: flex;
  flex-direction: column;
  color: #fff;
  opacity: 1;
}

a {
  color: #ffffff;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3d1717;
  color: #fcfcfc;
}

img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 220px;
  margin-left: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
}

main p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 350px;
  margin-left: 25px;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1000px) {
    .menu{

        display: flex;
        height: 30px;
        justify-content: space-between;

        width: 100%;
        
    }
  .let {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    list-style: none;
    gap: 20px;
    
  }
  h1{
    flex: 1;
    text-align: center;
    margin-left: 20px;
  }
  #itens {
    display: flex;
    align-items: center;
    background: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: none;
    position: static;
    margin-right: 30px;
  }
  
  a {
    display: none;
  }
  img{
    width: 800px;
    height: auto;
  }

  main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
  }

}
